<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randomappsinc.blanknavigationdrawer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/sedan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.AppActivities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AppActivities.MyProfileActivity"
            android:label="@string/my_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AppActivities.RequestsActivity"
            android:label="@string/requests"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.AppActivities.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Onboarding.LocationActivity"
            android:label="@string/create_account"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.Onboarding.AboutMeActivity"
            android:label="@string/create_account"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".Activities.Onboarding.ContactInfoActivity"
            android:label="@string/create_account"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".Activities.Onboarding.PasswordActivity"
            android:label="@string/create_account"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".Activities.Onboarding.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.Onboarding.LoginActivity"
            android:label="@string/log_in"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.AppActivities.ProfileActivity"
            android:label="@string/profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AppActivities.ConnectionsActivity"
            android:label="@string/connections"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.AppActivities.SearchActivity"></activity>
    </application>

</manifest>
